{% extends 'base.html.twig' %}

{% block title %}New Pays{% endblock %}

{% block body %}
    <h1>Créer un nouveau pays</h1>

    {{ include('pays/_form.html.twig') }}

    <a href="{{ path('app_pays_index') }}"class="btn btn-primary m-2" >Retourner à la liste</a>
{% endblock %}
