/* voyageCardTeaser.css */


.voyageCard {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: max-content;
  height: max-content;
  border: 1px solid black;
  padding: 20px;
  color: black;
  box-shadow: 5px 5px 12px grey;

}

.voyageCardInformation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.voyageCardName {
  margin: 0;
  padding: 0;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 28px;
}

.voyageCardPays {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.voyageCardPrix, 
.voyageCardCategorie {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.voyageCard > a {
  text-decoration: none !important;
}
