{% extends 'base.html.twig' %}

{% block title %}Edit FormReservation{% endblock %}

{% block body %}
    <h1>Éditer la réservation </h1>

    {{ include('form_reservation/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('form_reservation/_delete_form.html.twig') }}

        <a href="{{ path('app_form_reservation_index') }}" class="btn btn-primary m-2">Retourner à la liste</a>
{% endblock %}
