{% extends 'base.html.twig' %}

{% block title %}New FormReservation{% endblock %}

{% block body %}
    <h1>Créer une nouvelle réservation</h1>

    {{ include('form_reservation/_form.html.twig') }}

    <a href="{{ path('app_form_reservation_index') }}" class="btn btn-primary m-2">Retourner à la liste</a>
{% endblock %}
