.voyageTeaser{
    display: flex;
    margin: 80px;
}

.voyageCardImage{
    border-radius: 7px;
}

.voyageNom {
    font-size: 25px;
    font-weight: bold;
}

.voyageDetail{
    display: flex;
    justify-content: space-between;
    margin: 80px;
}

.details{
    display: flex;
    flex-direction: column;
}

.titre{
    text-align: justify;
    margin: 0 0 0 35px;
}

.intitule{
    margin: 0;
    font-weight: bold;
}

.formulaire{
    width: 500px;
    padding: 40px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
}

h4{
    justify-content: center;
    display: flex;
    font-weight: bold;
    margin: 0 0 25px 0;
}
