{% extends 'base.html.twig' %}

{% block title %}Edit Statut{% endblock %}

{% block body %}
    <h1>Edit Statut</h1>

    {{ include('statut/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('statut/_delete_form.html.twig') }}

    <a href="{{ path('app_statut_index') }}"class="btn btn-primary m-2" >Retourner à la liste</a>

{% endblock %}
