{% extends 'base.html.twig' %}

{% block title %}New Statut{% endblock %}

{% block body %}
    <h1>Créer un nouveau statut</h1>

    {{ include('statut/_form.html.twig') }}

    <a href="{{ path('app_statut_index') }}"class="btn btn-primary m-2" >Retourner à la liste</a>
{% endblock %}
